body {
    background: url("bglogin.png") no-repeat;
    background-size: 100vw 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    margin: 22px 55px;
    justify-content: space-between;
}

#nav-left h1 {
    color: deepskyblue;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#nav-mid ul {
    display: flex;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#nav-mid ul li {
    list-style: none;
    padding: 2px 10px;
    margin: 1px 35px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

#nav-right input {
    width: 185px;
    height: 31px;
    border-radius: 5px;
    border: 2px solid blue;
    font-size: 15px;
    padding: 6px;
}

#nav-right button {
    width: 72px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid royalblue;
    background-color: royalblue;
    color: white;
    height: 30px;
}

/* CONTENT SECTION */
#detail-section {
    width: 676px;
    height: 313px;
    /* border: 2px solid white; */
    position: relative;
    top: 124px;
    left: 131px;
}

#deve1 {
    color: white;
    font-size: 50px;
    line-height: 45px;

}
#deve2{
    color: deepskyblue;
    font-size: 50px;
    line-height: 45px;
}
#deve3{
    color: white;
    font-size: 40px;
    /* line-height: 9px; */
}

#detail-section p {
    color: white;
    margin: 13px 0;
    font-size: 17px;
}

#detail-section button {
    width: 108px;
        height: 34px;
        border-radius: 19px;
        border: 2px solid deepskyblue;
        font-size: 20px;
        color: white;
        background-color: deepskyblue;
        margin-top: 6px;
}
/* LOGIN SECTION */
#login-section{
    width:237px;
    height: 336px;
    border: 2px solid white;
    position: absolute;
    top: 165px;
    right: 159px;
    margin: 10px;
    padding: 15px;
    color: white;
    border-radius: 10px;
    background-color: #2C3333;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iteam{
    margin: 5px;
}
.box1{
    color: deepskyblue;
    background-color: white;
    width: 178px;
    /* text-align: center; */
    border-radius: 7px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 39px;
    margin-top: 16px;
}

.box2 input{
    padding: 10px;
    background-color: #2C3333;
    border: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 15px;

}
.box3 input{
    background-color: #2C3333;
    border: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 15px;
    padding: 10px;
}
.box4 button{
    font-size: 22px;
width: 195px;
height: 36px;
border: none;
border-radius: 10px;
color: white;
background-color: deepskyblue;
margin-top:10px;
}
.box4 button:hover{
    background-color: slateblue;
}
.box5{
    text-align: center;
}
.box5 a{
    text-decoration: none;
    color: deepskyblue;

}
